
Capstone2-exploration/.ipynb_checkpoints/Captstone II -  Data Wrangling-checkpoint.ipynb
Capstone2-exploration/.ipynb_checkpoints/Captstone II -  Data Wrangling-checkpoint.ipynb
Capstone2-exploration/.ipynb_checkpoints/IBM retention exploration-checkpoint.ipynb
Capstone2-exploration/.ipynb_checkpoints/NHTSA Datset Exploration-checkpoint.ipynb
Capstone2-exploration/.ipynb_checkpoints/Untitled-checkpoint.ipynb
Capstone2-exploration/.ipynb_checkpoints/Captstone II -  Data Wrangling-checkpoint.ipynb
Capstone2-exploration/.ipynb_checkpoints/IBM retention exploration-checkpoint.ipynb
Capstone2-exploration/.ipynb_checkpoints/NHTSA Datset Exploration-checkpoint.ipynb
Capstone2-exploration/.ipynb_checkpoints/Untitled-checkpoint.ipynb
Capstone2-exploration/IBM retention exploration.ipynb
Capstone2-exploration/NHTSA Datset Exploration.ipynb
Capstone2-exploration/NHTSA/CEvents.CSV
Capstone2-exploration/WA_Fn-UseC_-HR-Employee-Attrition.csv
Capstone2-exploration/WA_Fn-UseC_-HR-Employee-Attrition.csv
